body {
	background-color:#84A136;
	color: #5E7915;
	font-family: Questrial;
	font-size:20px;
	padding: 10px;
}

.menu {
	text-decoration:none;
	color:#AEC965;
	font-size:40px;
	
	
}

.content {
	position:relative;
	text-align:center;
	
}

.content2 {
	color:#3B5100;
	font-size:25px;
}

.graphic {
	position:absolute;
	right:0px;
	bottom:10%;
	z-index:-2;
}

.film {
	text-align:center;
}

.mybutt {
		background-color:#AEC965;
	padding:20px;
	border-radius:20px;
	color:#84A136;
	font-size:30px;
	text-decoration:none;
	margin:20px;
}