body {
	background-color:#84A136;
	color: #5E7915;
	font-family: Questrial;
	font-size:20px;
	padding: 10px;
}

a {
	text-decoration:none;
	color:#AEC965;
	font-size:40px;
	
}

.content {
	position:relative;
	text-align:center;
	
}

.graphic {
	position:absolute;
	right:0px;
	bottom:10%;
	z-index:-2;
}

.film {
	text-align:center;
}